{% extends 'base.html '%}

{% block title %}Blog's{%endblock%}

{% block content%}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">ABOUT US</h4>
    <p>MORE ABOUT US!</p>
    <hr>
    <p class="mb-0">Our this blog website was founded to share blogs about last innovations, changes and news in different areas of life. For example: nature, design, environment, technology and etc. You can read blogs picked up different sources in different category refer to your interests and share with your friends in facebook or twitter. Besides this, you can subscribe to our newsletter to be aware from our recent blogs immediately. And you can create a profile for using our blog website more comfortly.</p>
</div>
{% endblock %}